@CHARSET "ISO-8859-1";

.navbar-default {
	background-color: lightgrey;
}
li {
	padding: 2px;
}

.errors {
	font-size: 110%;
	color: red;
}
.row .img-fluid {
	padding: 5px;
}

.row .col-md-4 {
	background-color: #EFEFEF;
	margin-right: 0px;
}
.container {	
	padding-right: 0px;
}
footer {
	height: 30px;
}
aside a {
	width:100%;
	padding:10px;
}